
/* HEADER */

.header{
   
    background: url(https://www.glengery.com/media/k2/items/cache/f69736cdb62c401ce94ceb0c71d0a473_XL.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
   
    color: black;
    font-size: 60px;
    text-align: center;
    border: 30px double black;
    border-radius: ;
    width: 85%;
    margin: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 20px;
    font-family: 'Fredoka One', cursive;
    margin-left: 20px;

}

#header1{
    padding-bottom: 0px;
    padding-top: 20px;
    margin-bottom: 5px;
}

#header2{
    font-size: 50px;
    padding-bottom: 80px;
    margin-top:0px;
}

body{
    background-color: #1E90FF;
}



/* MESSAGE */


#main{
    border: 20px double black;
    color: black;
    background-color: #bfbfbf;
    padding: 10px;
    margin: 2px; 
    width: 60%;
    margin: auto;
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
    margin-left: 300px;
}

.date{
    margin-top: 80px;
    margin-bottom: 5px;
    border-top: 5px dotted black;
    padding-top: 80px;
}

.sender{
    margin-bottom: 5px;

}

.subject{
    margin-bottom:5px;
}

.message{
    margin-top: 20px; 
    margin-bottom:5px;
    border:3px solid black;
    background-color: #1E90FF;
    color: #bfbfbf;
    border-radius: ;
    padding-right: 20px;
    padding-left: 10px;
    width: 10%;


}

.message:hover{
    margin-bottom:5px;
    border:3px solid black;
    background-color: #1E90FF;
    color: black;
    border-radius: ;
    padding-right: 20px;
    padding-left: 10px;
    width: 10%;
}

.bodys{
    display: none;
    margin-bottom:25px;
    margin-top: 12px;
    border: 6px solid black !important;
    color: black !important;
    background-color: white;
    width: 1450px !important;
    margin-left: 40px;
    padding: 10px;
    font-family:'Marck Script', cursive;

}

/* INBOX */

#inbox{
    color: black;
    background-color: #bfbfbf;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 150px;
    font-size: 35px;
    border: 20px double black;
    width: 8%;
    font-family: 'Fredoka One', cursive;
    padding-left: 10px;
    padding-top: 10px

}

#messageCount{
    border:3px solid black;
    background-color: #1E90FF;
    color: #bfbfbf;
    width: 25%;
    margin: 0px 5px 10px 55px !important;
    padding: 5px 5px 5px 5px;
    text-align: center;
    
}


/* SIDE NAVIGATION BAR */

.navBar{
    height: 100%; 
    width: 220px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    right: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 20px;
}


.navBarInner{
    padding: 30px 10px 30px 30px;
    text-decoration: none;
    font-size: 40px;
    color: #1E90FF;
    display: block;
    font-family:'Fredoka One', cursive;
    transition: .7s;
    
}

.navBarInner:hover{
    color: #bfbfbf;
    background-color: #1E90FF;
    border: black;
    border-radius: 25%;
    
}